<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Appraisal Meeting</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
          <li class="breadcrumb-item active">Performance</li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <a  class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_indicator"><i
          class="fa fa-plus"></i> Validate</a>
      </div>
    </div>
  </div>


  <!-- /Page Header -->

    <section class="review-section information">
        <div class="review-header text-center">
            <h3 class="review-title">Employee Basic Information</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-nowrap review-table mb-0">
                        <tbody>
                            <tr>
                                <td>
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label for="depart3">Department</label>
                                            <input type="text" class="form-control" id="depart3">
                                        </div>
                                        <div class="form-group">
                                            <label for="departa">Position held</label>
                                            <input type="text" class="form-control" id="departa">
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <div class="form-group">
                                            <label for="doj">Evaluation Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="doj">Evaluated Year</label>
                                            <input type="text" class="form-control" id="doj">
                                        </div>
                                      <div class="form-group">
                                        <label for="qualif">Previous years of Experience </label>
                                        <input type="text" class="form-control" id="qualif">
                                      </div>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <div class="form-group">
                                            <label for="name1"> Evaluator</label>
                                            <input type="text" class="form-control" id="name1">
                                        </div>
                                        <div class="form-group">
                                            <label for="depart1"> Evaluator Previous years of Experience: </label>
                                            <input type="text" class="form-control" id="depart1">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

  <section class="review-section">
    <div class="review-header text-center">
      <h3 class="review-title">Review of activity over the past year</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-review review-table mb-0" id="table_achievements">
            <thead>
            <tr>
              <th style="width:40px;">#</th>
              <th>Notes</th>
              <th>Employee</th>
              <th>Manager</th>
            </tr>
            </thead>
            <tbody id="table_achievements_tbody">
            <tr>
              <td>1</td>
              <td>What are your accomplishments? <br> <br>
               ( The projects and assignments you have worked on, alone or in a team. )</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>What are the key facts and events? <br> <br>

                Were there any events that had an impact on your business?</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td>What are the main difficulties encountered during the period? <br> <br>

                A context or events that made it difficult to carry out your missions.</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <section class="review-section">
    <div class="review-header text-center">
      <h3 class="review-title">Satisfaction</h3>
      <p class="text-muted">1 - Not Satisfied</p>
      <p class="text-muted">5 - Extremely Satisfied</p>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered review-table mb-0">
            <thead>
            <tr>
              <th></th>
              <th>Level Of Satisfaction</th>
              <th>Elaborate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                What is your overall level of satisfaction over the past period?</td>
              <td>
                <select class="form-select form-control">
                  <option>Select</option>
                  <option>5</option>
                  <option>4</option>
                  <option>3</option>
                  <option>2</option>
                  <option>1</option>
                </select>
              </td>
              <td><input type="text" class="form-control"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="review-section">
    <div class="review-header text-center">
      <h3 class="review-title">Prospects for the coming year</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-review review-table mb-0" id="table_remarks">
            <thead>
            <tr>
              <th style="width:40px;">#</th>
              <th> - </th>
              <th>Employee</th>
              <th>Employee</th>
            </tr>
            </thead>
            <tbody id="table_remarks_tbody">
            <tr>
              <td>1</td>
              <td>keep doing</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td>stop doing</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td>how to do it</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="review-section">
    <div class="review-header text-center">
      <h3 class="review-title">Additional Notes</h3>
      <p class="text-muted">
        Are there any other points you would like to discuss during this appraisal meeting?</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-review review-table mb-0" id="table_alterations">
            <thead>
            <tr>
              <th style="width:40px;">#</th>
              <th>Employee</th>
              <th>Manager</th>
            </tr>
            </thead>
            <tbody id="table_alterations_tbody">
            <tr>
              <td>1</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>4</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            <tr>
              <td>5</td>
              <td><input type="text" class="form-control"></td>
              <td><input type="text" class="form-control"></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered review-table mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Signature</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Employee</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Reporting Officer</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>HRD</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->






