<!-- Page Wrapper -->
            <div class="page-wrapper">

				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Offered Jobs</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
									<li class="breadcrumb-item ">Jobs</li>
									<li class="breadcrumb-item ">User Dashboard</li>
									<li class="breadcrumb-item active">Offered Jobs</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<!-- Content Starts -->
                  <div class="card">
                    <div class="card-body">
                      <!-- <h4 class="card-title">Solid justified</h4> -->
                      <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                        <li class="nav-item"><a class="nav-link" routerLink="/layout/userdashboard/user-dashboard">Tests Phase </a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/layout/savedjobs/saved-jobs">Interviewing</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/layout/appliedjobs/applied-jobs">Offered</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/layout/interviewing/interviewing">Confirmed</a></li>
                        <li class="nav-item"><a class="nav-link active" routerLink="/layout/offeredjobs/offered-jobs">Rejected</a></li>
                      </ul>                     </div>
                  </div>

                  <!-- Search Filter -->
                  <div class="row filter-row">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-12">
                      <div class="form-group form-focus">
                        <input type="text" class="form-control floating" (input)="searchName($event.target.value)">
                        <label class="focus-label">Ticket Description</label>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-12">
                      <div class="form-group form-focus">
                        <input type="text" class="form-control floating" (input)="searchEmail($event.target.value)">
                        <label class="focus-label">Candidate Email</label>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-12">
                      <div class="form-group form-focus select-focus">
                        <select class="-form-select floating form-control" (input)="searchGender($event.target.value)">
                          <option value=""> -- Select -- </option>
                          <option value="Male"> Male </option>
                          <option value="Female"> Female </option>
                        </select>
                        <label class="focus-label">Gender</label>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-12">
                      <a class="btn btn-success w-100"> Search </a>
                    </div>
                  </div>
                  <!-- Search Filter -->

					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table datatable mb-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Candidate name</th>
											<th>Email</th>
											<th class="text-center">Gender</th>
                      <th class="text-center">IRT Score</th>
                      <th class="text-center">Angular Score</th>
                      <th class="text-center">Node JS Score</th>


                    </tr>
									</thead>
									<tbody>
										<tr *ngFor="let candidate of lstRejectedjobs">
											<td>{{candidate.id}}</td>
											<td><a routerLink="/layout/jobs/job-details-rejected/{{candidate._id}}">{{candidate.name}}</a></td>
											<td class="text-center">{{candidate.email}}</td>
                      <td class="text-center">{{candidate.gender}}</td>
                      <td class="text-center">{{candidate.irt_score}}</td>
                      <td class="text-center">{{candidate.psy_score}}</td>
                      <td class="text-center">{{candidate.tech_test}}</td>

										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- /Content End -->

                </div>
				<!-- /Page Content -->

            </div>
			<!-- /Page Wrapper -->
