<!-- Page Wrapper -->

                <div class="chat-main-row">
                    <div class="chat-main-wrapper">
                        <div class="col-lg-8 message-view task-view">
                            <div class="chat-window">
                                <div class="fixed-header">
                                    <div class="navbar">
                                        <div class="float-start ticket-view-details">
                                            <div class="ticket-header">
                                                <span>Status: </span> <span class="badge badge-info">{{taskStatus}}</span>
                                                <span class="m-l-15 text-muted">Created: </span>
                                                <span>{{taskCreationDate | date}} </span>
                                                <span class="m-l-15 text-muted">Created by:</span>
                                                <span><a href="#"> {{userInfos.name }} {{userInfos.last_name }} </a></span>
                                            </div>
                                        </div>
                                        <a class="task-chat profile-rightbar float-end" id="task_chat" href="#task_window"><i class="fa fa fa-comment"></i></a>
                                    </div>
                                </div>
                                <div class="chat-contents">
                                    <div class="chat-content-wrap">
                                        <div class="chat-wrap-inner">
                                            <div class="chat-box">
                                                <div class="task-wrapper">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="project-title">
                                                                <div class="m-b-20">
                                                                    <span class="h5 card-title ">{{taskDescription}}</span>
                                                                    <div class="float-end ticket-priority"><span> Priority : </span>
                                                                        <div class="btn-group">
                                                                            <a class="badge badge-primary" style="font-size: 14px" data-bs-toggle="dropdown"> {{taskUrgency}} </a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p> {{taskContent}} </p>
                                                          <br>
                                                          <br>
                                                          <div class="btn-group" style="margin-left: 40%">
                                                            <a class="badge badge-primary" *ngIf="currentUser.role =='IT'" style="font-size: 16px" data-bs-toggle="modal" data-bs-target="#validate_ticket"> Confirm Resolution </a></div>
                                                        </div>
                                                    </div>
                                                </div>


                                              <div class="card mb-0">
                                                <div class="card-body">
                                                  <h5 class="card-title m-b-20">Ticket Attached Files</h5>
                                                  <ul class="files-list">
                                                    <li>
                                                      <div class="files-cont">
                                                        <div class="file-type">
                                                          <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                                        </div>
                                                        <div class="files-info">
                                                          <span class="file-name text-ellipsis"><a>{{associatedFile}}</a></span>
                                                          <span class="file-author"><a href="assets/uploads/{{associatedFile}}" download>Download</a></span>
                                                        </div>
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>



                                              <div class="card">
                                                <div class="card-body">
                                                  <h5 class="card-title m-b-20">Ticket Resolution Procedure</h5>
                                                  <div class="row">
                                                    <div class="col-md-3 col-sm-6">
                                                      <div class="uploaded-box">
                                                        <div class="uploaded-img">
                                                          <img src="assets/img/placeholder.jpg" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="uploaded-img-name">
                                                          demo.png
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                      <div class="uploaded-box">
                                                        <div class="uploaded-img">
                                                          <img src="assets/img/placeholder.jpg" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="uploaded-img-name">
                                                          demo.png
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                      <div class="uploaded-box">
                                                        <div class="uploaded-img">
                                                          <img src="assets/img/placeholder.jpg" class="img-fluid" alt="">
                                                        </div>

                                                        <div class="uploaded-img-name">
                                                          demo.png
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                      <div class="uploaded-box">
                                                        <div class="uploaded-img">
                                                          <img src="assets/img/placeholder.jpg" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="uploaded-img-name">
                                                          demo.png
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                                <div class="notification-popup hide">
                                                    <p>
                                                        <span class="task"></span>
                                                        <span class="notification-text"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit Ticket Modal -->
                <div id="edit_ticket" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Ticket</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ticket Subject</label>
                                                <input class="form-control" type="text" value="Laptop Issue">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ticket Id</label>
                                                <input class="form-control" type="text" readonly value="TKT-0001">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Assign Staff</label>
                                                <select class="form-select">
                                                    <option>-</option>
                                                    <option selected>Mike Litorus</option>
                                                    <option>John Smith</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Priority</label>
                                                <select class="form-select">
                                                    <option>High</option>
                                                    <option selected>Medium</option>
                                                    <option>Low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>CC</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Assign</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ticket Assignee</label>
                                                <div class="project-members">
                                                    <a title="John Smith" data-bs-toggle="tooltip" href="#" >
                                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Add Followers</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ticket Followers</label>
                                                <div class="project-members">
                                                    <a title="Richard Miles" data-bs-toggle="tooltip" href="#" class="avatar">
                                                        <img src="assets/img/profiles/avatar-9.jpg" alt="">
                                                    </a>
                                                    <a title="John Smith" data-bs-toggle="tooltip" href="#" class="avatar">
                                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                                    </a>
                                                    <a title="Mike Litorus" data-bs-toggle="tooltip" href="#" class="avatar">
                                                        <img src="assets/img/profiles/avatar-5.jpg" alt="">
                                                    </a>
                                                    <a title="Wilmer Deluna" data-bs-toggle="tooltip" href="#" class="avatar">
                                                        <img src="assets/img/profiles/avatar-11.jpg" alt="">
                                                    </a>
                                                    <span class="all-team">+2</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" rows="4"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Upload Files</label>
                                                <input class="form-control" type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Edit Ticket Modal -->

                <!-- Delete Ticket Modal -->
                <div class="modal custom-modal fade" id="delete_ticket" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-header">
                                    <h3>Delete Ticket</h3>
                                    <p>Are you sure want to delete?</p>
                                </div>
                                <div class="modal-btn delete-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Delete Ticket Modal -->

                <!-- Assignee Modal -->
                <div id="assignee" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Assign to this task</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group m-b-30">
                                    <input placeholder="Search to add" class="form-control search-input" type="text">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                                <div>
                                    <ul class="chat-user-list">
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-9.jpg" alt="">
                                                    </span>
                                                    <div class="media-body align-self-center text-nowrap flex-grow-1">
                                                        <div class="user-name">Richard Miles</div>
                                                        <span class="designation">Web Developer</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                                    </span>
                                                    <div class="media-body align-self-center text-nowrap flex-grow-1">
                                                        <div class="user-name">John Smith</div>
                                                        <span class="designation">Android Developer</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                                    </span>
                                                    <div class="media-body align-self-center text-nowrap flex-grow-1">
                                                        <div class="user-name">Jeffery Lalor</div>
                                                        <span class="designation">Team Leader</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Assignee Modal -->

                <!-- Task Followers Modal -->
                <div id="task_followers" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add followers to this task</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group m-b-30">
                                    <input placeholder="Search to add" class="form-control search-input" type="text">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                                <div>
                                    <ul class="chat-user-list">
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-10.jpg" alt="">
                                                    </span>
                                                    <div class="media-body media-middle text-nowrap flex-grow-1">
                                                        <div class="user-name">Jeffery Lalor</div>
                                                        <span class="designation">Team Leader</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-8.jpg" alt="">
                                                    </span>
                                                    <div class="media-body media-middle text-nowrap flex-grow-1">
                                                        <div class="user-name">Catherine Manseau</div>
                                                        <span class="designation">Android Developer</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media d-flex">
                                                    <span class="avatar flex-shrink-0">
                                                        <img src="assets/img/profiles/avatar-11.jpg" alt="">
                                                    </span>
                                                    <div class="media-body media-middle text-nowrap flex-grow-1">
                                                        <div class="user-name">Wilmer Deluna</div>
                                                        <span class="designation">Team Leader</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Add to Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Task Followers Modal -->



<!-- Delete Project Modal -->
<div class="modal custom-modal fade" id="validate_ticket" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Confirm Ticket Resolution</h3>
          <p>Are you sure want to set this Ticket to Resolved?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a  class="btn btn-primary continue-btn"
                  (click)="resolveTicket()">Confirm Resolution</a>
            </div>
            <div class="col-6">
              <a  data-bs-dismiss="modal"
                  class="btn btn-primary cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Project Modal -->
