<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

  <div class="card mb-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-view">
            <div class="profile-img-wrap">
              <div class="profile-img">
                <a><img alt="" src="assets/img/Image%20Users/{{client[0]?.sampleFile}}"></a>
              </div>
            </div>
            <div class="profile-basic">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile-info-left">
                    <h3 class="user-name m-t-0 mb-0">{{client[0]?.name}} {{client[0]?.last_name}}</h3>
                    <small class="text-muted">{{client[0]?.role}}</small>
                  </div>
                </div>
                <div class="col-md-7">
                  <ul class="personal-info">
                    <li>
                      <div class="title">Phone:</div>
                      <div class="text"><a href="">{{client[0]?.phone}}</a></div>
                    </li>
                    <li>
                      <div class="title">Email:</div>
                      <div class="text"><a href="">{{client[0]?.email}}</a></div>
                    </li>
                    <li>
                      <div class="title">Birthday:</div>
                      <div class="text">{{client[0]?.Birth_date | date}}</div>
                    </li>
                    <li>
                      <div class="title">Hire Date :</div>
                      <div class="text">{{client[0]?.Hire_date | date}}</div>
                    </li>
                    <li>
                      <div class="title">Gender:</div>
                      <div class="text">{{client[0]?.gender}}</div>
                    </li>
                    <li>
                      <div class="title">Reports to:</div>
                      <div class="text">
                        <div class="avatar-box">
                        </div>
                        {{client[0]?.manager}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card tab-box">
      <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
          <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item"><a href="#emp_projects" data-bs-toggle="tab" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="#bank_statutory" data-bs-toggle="tab" class="nav-link active">Trainings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-content">


      <!-- Projects Tab -->
      <div class="tab-pane fade" id="bank_statutory">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let emp of trainings;let i = index">
            <div class="profile-widget" style="margin-left: 20px;margin-right: 20px">
              <div class="profile-img">
                <a routerLink="/layout/accounts/invoice-view" class="avatar"><img
                  src="https://cdn.worldvectorlogo.com/logos/training.svg" alt=""></a>
              </div>
              <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a
                routerLink="/layout/accounts/invoice-view/{{emp._id}}">{{emp.name}}</a>
              </h4>
              <div class="small text-muted">{{emp.category}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Projects Tab -->

      <!-- Bank Statutory Tab -->
      <div class="tab-pane fade" id="emp_projects">
        <div class="row">
          <div *ngFor="let project of projects" class="col-md-2">
            <div style="margin-left: 20px;margin-right: 20px" class="card">
              <div class="card-body">
                <div class="dropdown dropdown-action profile-action">
                </div>
                <h4 class="project-title"><a routerLink="/layout/projects/projectview/{{project._id}}">{{project.project_name}}</a>
                </h4>
                <small class="block text-ellipsis m-b-15">
                </small>
                <p class="text-muted" >{{ project.description | slice:0:50 }}


                </p>
                <div class="pro-deadline m-b-15">
                  <div class="sub-title">
                    Deadline:
                  </div>
                  <div class="text-muted">
                    {{project.Deadline | date}}
                  </div>
                </div>
                <div class="project-members m-b-15">
                  <div>Project Leader :</div>
                  <ul class="team-members">
                    <li>
                      <a data-bs-toggle="tooltip" title="Project Manager"><img alt=""
                                                                               src="https://www.kindpng.com/picc/m/616-6169200_supervised-distribution-team-project-manager-icon-hd-png.png"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Bank Statutory Tab -->

    </div>
  </div>
</div>
<!-- /Page Content -->
